<% if membership.pending? %>
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon "ellipsis-v" %>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to "Resend invitation", resend_invitation_path(membership), class: "dropdown-item" %>
      <%= link_to "Delete invitation", membership, class: "dropdown-item", method: :delete, data: { confirm: "Are you sure you want to revoke the invitation of this user?" } %>
    </div>
  </div>
<% elsif membership != current_membership && !membership.owner? %>
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon "ellipsis-v" %>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <% if membership.admin? %>
        <%= link_to "Revoke admin privilege", toggle_admin_membership_path(membership), class: "dropdown-item", method: :post, data: { confirm: "Are you sure you want to revoke the administration privileges of this user?" } %>
      <% else %>
        <%= link_to "Grant admin prinvilege", toggle_admin_membership_path(membership), class: "dropdown-item", method: :post, data: { confirm: "Are you sure you want to grant administration privileges to this user?" } %>
      <% end %>
      <%= link_to "Revoke access", membership, class: "dropdown-item", method: :delete, data: { confirm: "Are you sure to revoke complete access to this user?" } %>
    </div>
  </div>
<% end %>
</td>
